.mpan-container
  .mpan-table.mpan-box
    .mpan-row
      .mpan-cell.border-right
        .big-s
          S
      .mpan-cell
        .mpan-row-group
          .mpan-row
            .mpan-cell.border-bottom
              .mpan-stretch
                .mpan-top-row.inline.mpan-pc
                  &nbsp;
                .mpan-top-row.inline.mpan-mtc.border-left.border-right
                  &nbsp;
                .mpan-top-row.inline.mpan-llfc
                  &nbsp;
          .mpan-row
            .mpan-cell
              .mpan-stretch
                .mpan-bottom-row.inline.mpan-did
                  &nbsp;
                .mpan-bottom-row.inline.mpan-uid.border-left.border-right
                  &nbsp;
                .mpan-bottom-row.inline.mpan-cd
                  &nbsp;

