.hero
  .hero-top.hero-home.full-width
    .header-text.text-center
      %h2 We bring the business customer closer to the market ensuring competitive pricing and transparency
  .hero-main
    .container-fluid
      .row.text-center
        .col-xs-12
          %h2 What are you looking for?
        .col-sm-4
          = image_tag asset_path('bgs-icon-electricity.png'), id: 'electricity-icon'
          %h3 Business Electricity
          %p Electricity supply with a range of billing options for single and multi-site businesses.
          %a.btn.btn-default{:href => page_path('electricity'), :role => "button"} More Info
        .col-sm-4
          = image_tag asset_path('bgs-icon-gas.png'), id: 'gas-icon'
          %h3 Business Gas
          %p Gas supply to businesses of all sizes incorporating specific needs and demand profiles.
          %p.btn.btn-default{:href => "#", :role => "button"} More Info
        .col-sm-4
          = image_tag asset_path('bgs-icon-other.png'), id: 'other-icon'
          %h3 Other Energy Products
          %p Our trading desk can help you with bespoke tariffs and other energy related products.
          %p.btn.btn-default{:href => "#", :role => "button"} More Info

.full-width-image-block
  = image_tag asset_path('stock/538359264.jpg')

.text-block
  .container-fluid
    .row.text-center
      .col-xs-12
        %h2 Why Brook Green Supply?
    .row.text-center
      .col-xs-8.col-xs-offset-2
        .sub-h2
          We provide the business energy market with the best service whilst maintaining its ability
          to supply electricity and gas at highly competitive prices.

