<div class="container">
  <div class="row">
    <div style="text-align: right">
      <br/>
      <a href="/admin">Back to /admin</a>
    </div>

    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h3>Add new</h3>
    <p>
      <a href="/users/invitation/new">Invite new user</a>
    </p>
  </div>
</div>
