- updates = Comfy::Cms::Page.for_category("Market Update").published
- sorted = updates.sort_by(&:created_at).reverse
%ul.no-mark
  - sorted.each do |update|
    %li.market_update
      %h4= update.label
      - preview_block = update.blocks.select {|b| b.identifier == 'preview'}.first
      - if preview_block
        %div
          != preview_block.content
      %div
        %br
        %a{href: update.url, class: 'more-info'}
          Read more
      %hr

