- updates = Comfy::Cms::Page.for_category("Job").published
- sorted = updates.sort_by(&:updated_at).reverse
- last_two = if sorted.length > 1 then [sorted.first, sorted.second] else [sorted.first] end
- last_two = last_two.compact
- if last_two.length > 0
  .careers-box
    %h3{style: 'display: inline-block; padding-left: 0.8em; margin-bottom: 0px;'} Careers
    %div{style: 'float: right;'}
      %a{href: '/cms/bgs-careers', style: 'color: black; text-decoration: underline; font-size: 0.9em;'} See all
    %ul.no-mark{style: 'margin-top: -12px; margin-bottom: 40px;'}
      - last_two.each do |job|
        %li.job_description{style: 'font-size: 0.9em; padding-right: 10px; padding-top: 0px;'}
          %h4{style: 'padding-left: 0px;'}= job.label
          - preview_block = job.blocks.select {|b| b.identifier == 'preview'}.first
          - if preview_block
            %div
              != preview_block.content
          %div{style: 'padding-top: 8px;'}
            %br
            %a{href: job.url, class: 'more-info'}
              Read more

