.hero
  .hero-top.hero-electricity.full-width
    .header-text.text-center
      %h1 Business Electricity Supply
      %h2 Business electricity for single and multi-site SMEs and corporates.
  .hero-main
    .container-fluid
      .row.text-center
        .col-xs-6.col-xs-offset-3
          .hero-p
            We supply business electricity to small businesses, corporates, and industrial sites through fixed price contracts.
          .hero-p
            Depending on the size of your business and consumption needs, we can provide fixed price contracts or bespoke electricity supply agreements at highly competitive electricity rates.

.full-width-image-block
  = image_tag asset_path('stock/507851977.jpg')

.text-block
  .container-fluid
    .row.text-center
      .col-xs-12
        %h2 Why Brook Green Supply?
    .row.text-center
      .col-xs-8.col-xs-offset-2
        .sub-h2
          We provide the business energy market with the best service whilst maintaining its ability
          to supply electricity and gas at highly competitive prices.

