.container-fluid
  .row.text-center
    .col-lg-4.cover-below-lg
      .sector-flex.small-business
        %h2 SME
        %p We supply our small business customers with 1, 2 and 3-year electricity rates.
        %ul{:style => "text-align:left"}
          %li Small business electricity prices
          %li Business support on call
          %li Standard fixed rate contracts
        %a.more-info{:href => "/cms/energy-sectors/small-business"} Go to small business
    .col-lg-4.cover-below-lg
      .sector-flex.large-business
        %h2 Industrial &amp; Commercial
        %p Bespoke contracts for for larger consumers of electricity and gas.
        %ul{:style => "text-align:left"}
          %li Pricing to match variable demand profiles and seasonality
          %li Expert advice on wholesale energy market pricing
          %li Flexible credit solutions
        %a.more-info{:href => "/cms/energy-sectors/large-business"} Go to large business
    .col-lg-4.cover-below-lg
      .sector-flex.other-products
        %h2 Additional Commercial Energy Products
        %p Our trading desk offers access to a full range of energy products.
        %ul{:style => "text-align:left"}
          %li Access to wholesale gas and electricity markets
          %li Access to wholesale EUA, CER/ERU markets and carbon auctions
          %li Access to the full range of oil products
        %a.more-info{:href => "/cms/energy-sectors/consultants"} Go to other products

.contact-us-container
  .container-fluid
    .row
      .col-xs-12.col-md-5.col-md-offset-4
        .contact-us{style: 'color: white;'}
          %h3 Contact Our Sales Team
          %p Our team is here to assist you in finding the best energy solutions for your business
          %p
            If you current energy contract is due for renewal and you’d like to see if you could save money on your energy bills, get in touch and you can switch to Brook Green Supply.
          %p 020 7870 4942
          %p
            %a{href: "mailto:sales@brookgreensupply.com", style: 'color: white;'} sales@brookgreensupply.com

