.page-header
  %h2 Current prices

%h3 Electricity

%p
  Sort by:
  %button.sort{data: {sort: "area"}}
    area
  %button.sort{data: {sort: "duration"}}
    duration

%table.table.table-striped.table-hover.table-bordered
  %tbody.list
    - @electricity_products.each_with_index do |product, idx|
      %tr
        = render 'electricity_product', product: product

%h3 Gas

%table.table.table-striped.table-hover.table-bordered
  %tbody.list
    - @gas_products.each_with_index do |product, idx|
      %tr
        = render 'gas_product', product: product

