.full-width-cta.bg-blue-purple {
  padding: 20px 30px;
  color: white;
  background: image-url('cta-bg-blue-purple.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
