.full-width-cta.bg-blue-purple {
  padding: 20px 30px;
  color: white;
  background: image-url('cta-bg-blue-purple.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-width-cta.bg-blue-blue {
  padding: 20px 30px;
  color: white;
  background: image-url('cta-bg-blue-blue.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-width-cta.bg-switch {
  padding: 20px 30px;
  color: black;
  background: image-url('cta-bg-switch.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-width-cta.bg-large-business {
  padding: 45px 30px;
  min-height: 200px;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url('fw-images/sparks.jpg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.full-width-cta.bg-small-business {
  padding: 45px 30px;
  min-height: 200px;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url('fw-images/icecream.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
