// layout
$font-size-base: 12px;
$grid-float-breakpoint: 1200px;
$navbar-border-breakpoint: 1200px;
$hamburger-under-logo-breakpoint: 430px;
$fixed-navbar-margin-mobile: 56px;
$fixed-navbar-margin: 69px;

// colours
$orange: #f39200;
$yellow: #ffdd00;
$light-blue: #009fe3;
$dark-blue: #312783;
$red: #d83553;
$purple: #951b81;
$gradient1_from: #009fe3;
$gradient1_to: #312783;
$gradient2_from: #d83553;
$gradient2_to: #951b81;
$gradient3_from: #ffdd00;
$gradient3_to: #f39200;

// development-related
$bgtestcolor: red;
