h1 {
  @extend .font-emphasis, .font-size-h1;
  font-weight:700;
  color: #312783;
}

h2 {
  @extend .font-emphasis, .font-size-h2;
  font-weight:400;
  color: #312783;
}

h3 {
  @extend .font-emphasis, .font-size-h3;
  font-weight:400;
  color: #312783;
}

h4 {
  @extend .font-emphasis, .font-size-h4;
  font-weight:400;
  color: #312783;
  line-height: inherit;
}

.h1heroheader {
  font-size: 2.56em;
  color: #fff;
  line-height: 1.5;
}

.h3heroheader {
  color: #fff;
  line-height: 1.5;
}

.summary {
  @extend .font-emphasis, .font-size-large;
  color: #312783;
  line-height: 1.5;
}

.emergency {
  color: #D83553;
  line-height: 1.5;
}
