.bold { font-weight: bold; }

.elec { color: #f39200; }

.gas { color: #951b81; }

.link {
    font-family: "Gotham-medium";
    color: #951b81;
    font-weight: 500;
    }

.ctctxt {
    color: #FFF;
}

.ctclink {
    font-family: "Gotham-medium";
    color: #FFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}

.list {
    font-size: 18px;
    line-height: 1.5;
}
