.bold { font-weight: bold; }

.elec { color: #f39200; }

.gas { color: #951b81; }

.link {
    font-family: "Gotham-medium";
    color: #951b81;
    font-size: 18px;
}

.list {
    font-size: 18px;
    line-height: 1.5;
}
