.hero-top {
  padding: 20px 10px 200px 10px;
  color: white;
  @media (max-width: 470px) {
    padding: 20px 10px 140px 10px;
  }
  @media all and (min-width: 1920px) {
    padding: 20px 10px 340px 10px;
  }
}

.hero-top .header-text {
  padding: 0px 20px 20px 20px;
  margin-top: -26px;
  center {
    h1, h2, h3, h4 {
      max-width: 2400px;
      font-size: 3vw;
      @media (max-width: $screen-sm-min) {
        font-size: 1.2em;
      }
      @media all and (min-width: 1920px) {
        padding-top: 20px;
        font-size: 2.6vw;
      }
    }
  }
  padding-left: 13%;
  padding-right: 13%;
}

.hero-main {
  padding: 0px;
  margin: 0px;
  margin-top: -65px;
}

.hero-main .header-text {
  padding: 0px 20px 20px 20px;
  margin-top: -60px;
  @media (min-width: 700px) { margin-top: 0px; }
}

.hero-main .hero-p {
  @extend .font-size-normal;
  padding: 40px 20px 0px 20px;
  line-height: 1.5;
}

.hero-home {
  background: image-url('hero-bg-blade.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  @media (max-width: 470px) {
    background-position: top;
    background-size: 100% 75%;
    margin-bottom: 50px;
  }
  @media (min-width: 1280px) { background-position: bottom; }
}

.hero-electricity {
  background: image-url('hero-bg-blade-electric.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-gas {
  background: image-url('hero-bg-blade-gas.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

