.hero-top {
  padding: 20px 10px 300px 10px;
  color: white;
  background: image-url('hero-bg-blade1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-top .header-text {
  padding: 20px 30px 20px 20px;
}

.hero-main {
  padding: 0px;
  margin: 0px;
  margin-top: -65px;
}
