.hero-top {
  padding: 20px 10px 300px 10px;
  color: white;
}

.hero-top .header-text {
  padding: 20px 30px 20px 20px;
}

.hero-main {
  padding: 0px;
  margin: 0px;
  margin-top: -65px;
}

.hero-main .header-text {
  padding: 0px 20px 0px 20px;
  margin-top: -20px;
}

.hero-main .hero-p {
  padding: 40px 20px 0px 20px;
  font-size: 1.2em;
  line-height: 1.5;
}

.hero-home {
  background: image-url('hero-bg-blade1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-electricity {
  background: image-url('hero-bg-electric.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
