body {
  width: 100%;
  @extend .font-primary, .font-size-normal;
  line-height: 1.5;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0px;
  z-index: 900;
}

#alerts {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0px;
}


#main {
  margin-top: ($fixed-navbar-margin-mobile * 2);
  padding-bottom: 20px;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: ($fixed-navbar-margin * 2);
  }
}

#footer {
  margin-top: $fixed-navbar-margin-mobile;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: $fixed-navbar-margin;
  }
}

.full-width { width: 100%; }

.cover {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.no-padding-left-right {
  padding-left: 0px;
  padding-right: 0px;
}

.text-block {
  padding: 0px 20px 50px 20px;
}

.narrower {
  width: 92%;
}

.full-width-image-block {
  margin-top: 60px;
  margin-bottom: 60px;
  img {
    height: auto;
    width: 100%;
  }
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.authform {
  min-height: 400px;
}

#error_explanation .errors_header {
  color: red;
}

p.center_80 {
  margin-left: 10%;
  width: 80%;
}

.full-width-cta {
  text-align: center;
  @extend .font-size-h4;
}

.full-width-cta a {
  color: white;
}

#easy_to_switch_container {
  padding: 20px 0px 20px 0px;
}

#easy_to_switch {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  @media (min-width: $screen-md-min) {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}

#easy_to_switch_text {
  width: 100%;
  flex-basis: auto;
  text-align: center;
  padding: 0px 15px 0px 15px;
  p {
    padding-top: 20px;
  }
  h2 {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    .sub-h2 {
      font-weight: normal;
      font-size: 0.95em;
      @extend .font-primary;
    }
  }
  @media (min-width: $screen-md-min) {
    flex-basis: 60%;
    text-align: left;
  }
}

.sector-flex {
  height: 450px;
  padding: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  @media (min-width: 1600px) {
    height: 640px;
  }
}

.flex {
  flex: 1;
}

img#partnerships-icon { height: 140px; }
img#industry-expertise-icon { height: 140px; }
img#business-support-icon { height: 140px; }

.hidden-on-narrow-mobiles {
  @media (max-width: 370px) {
    display: none;
  }
}

.flex-container {
  display: flex;
  flex: 0 1 auto;
}

li.market_update {
  padding: 20px 40px 20px 40px;
  margin: 0px 20px 20px 5px;
  border-radius: 20px;
  background: image-url('cta-bg-updates.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spacer { min-height: 50px; }
.spacer:after { content: '' }

.test {
  background: $bgtestcolor !important;
}
