body {
  width: 100%;
  @extend .font-primary, .font-size-normal;
  line-height: 1.5;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0px;
  z-index: 1000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

#alerts { margin-top: $fixed-navbar-height; }

#main {
  margin-top: $fixed-navbar-height;
  padding-bottom: 20px;
}

#footer { margin-top: $fixed-navbar-height; }

.full-width {
  width: 100%;
}

.cover {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.no-padding-left-right {
  padding-left: 0px;
  padding-right: 0px;
}

.text-block {
  padding: 0px 20px 50px 20px;
}

.narrower {
  width: 92%;
}

.full-width-image-block {
  margin-top: 60px;
  margin-bottom: 60px;
  img {
    height: auto;
    width: 100%;
  }
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.authform {
  min-height: 400px;
}

#error_explanation .errors_header {
  color: red;
}

p.center_80 {
  margin-left: 10%;
  width: 80%;
}

.full-width-cta {
  text-align: center;
  @extend .font-size-h3;
}

.full-width-cta a {
  color: white;
}

#easy_to_switch_text {
  text-align: center;
  p {
    padding-top: 20px;
    @extend .font-size-small;
  }
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}

.spacer { min-height: 50px; }
.spacer:after { content: '' }

.test {
  background: $bgtestcolor !important;
}
