body {
  width: 100%;
}

#main {
  padding-bottom: 20px;
}

.full-width {
  width: 100%;
}

.cover {
  width: 100%;
  padding: 0px;
}

.text-block {
  padding: 0px 20px 50px 20px;
}

.narrower {
  width: 92%;
}

.full-width-image-block {
  margin-top: 60px;
  margin-bottom: 60px;
  img {
    height: auto;
    width: 100%;
  }
}

.test {
  background: $bgtestcolor !important;
}
