body {
  width: 100%;
  @extend .font-primary, .font-size-normal;
  line-height: 1.5;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0px;
  z-index: 900;
}

#alerts {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0px;
}


#main {
  margin-top: ($fixed-navbar-margin-mobile * 2);
  padding-bottom: 20px;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: ($fixed-navbar-margin * 2);
  }
}

#footer {
  margin-top: $fixed-navbar-margin-mobile;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: $fixed-navbar-margin;
  }
}

.full-width { width: 100%; }

.cover {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.no-padding-left-right {
  padding-left: 0px;
  padding-right: 0px;
}

.text-block {
  padding: 0px 20px 50px 20px;
}

.narrower {
  width: 92%;
}

.full-width-image-block {
  margin-top: 60px;
  margin-bottom: 60px;
  img {
    height: auto;
    width: 100%;
  }
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.authform {
  min-height: 400px;
}

#error_explanation .errors_header {
  color: red;
}

p.center_80 {
  margin-left: 10%;
  width: 80%;
}

.full-width-cta {
  text-align: center;
  @extend .font-size-h3;
}

.full-width-cta a {
  color: white;
}

#easy_to_switch_text {
  text-align: center;
  p {
    padding-top: 20px;
    @extend .font-size-small;
  }
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}

img#partnerships-icon { height: 140px; }
img#industry-expertise-icon { height: 140px; }
img#business-support-icon { height: 140px; }

.spacer { min-height: 50px; }
.spacer:after { content: '' }

.test {
  background: $bgtestcolor !important;
}
