body {
  width: 100%;
  font-family: 'Gotham-Book';
}

#main {
  padding-bottom: 20px;
}

.full-width {
  width: 100%;
}

.cover {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.no-padding-left-right {
  padding-left: 0px;
  padding-right: 0px;
}

.text-block {
  padding: 0px 20px 50px 20px;
}

.narrower {
  width: 92%;
}

.full-width-image-block {
  margin-top: 60px;
  margin-bottom: 60px;
  img {
    height: auto;
    width: 100%;
  }
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.authform {
  min-height: 400px;
}

#error_explanation .errors_header {
  color: red;
}

p.center_80 {
  margin-left: 10%;
  width: 80%;
}

.full-width-cta {
  text-align: center;
  font-size: 1.5em;
}

.full-width-cta a {
  color: white;
}

#easy_to_switch_text {
  text-align: left;
  max-width: 600px;
  p {
    padding-top: 20px;
    font-size: 0.8em;
  }
}

.spacer { min-height: 50px; }
.spacer:after { content: '' }

.test {
  background: $bgtestcolor !important;
}
