#top-nav {
  padding-top: 20px;
  min-height: 180px;
  margin: 0px;
  background: transparent;
}

#top-nav a.navbar-brand {
  padding: 0px;
}

#top-logo {
  width: 320px;
  padding-left: 15px;
  @media (max-width: $hamburger-under-logo-breakpoint) {
    padding-left: 0px;
  }
  @media (min-width: $grid-float-breakpoint) {
    padding-left: 35px;
  }
}

#top-nav .full-width-until-navbar-border {
  @media (max-width: $navbar-border-breakpoint) {
    padding: 0px;
  }
}

#top-nav ul {
  font-family: 'Gotham-Medium';
  list-style: none;
  text-align: justify;
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 47px;
  padding-right: 40px;
  margin-bottom: -4px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid black;
  @media (max-width: ($grid-float-breakpoint - 1)) {
    margin-top: 0px;
  }
  @media (min-width: $navbar-border-breakpoint) {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
  }
}

#top-nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#top-nav ul li {
  float: none;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.4em;
  @media (min-width: $grid-float-breakpoint) {
    display: inline-block;
  }
}

#top-nav ul li a, #top-nav ul li a:link {
  color: #333333;
  text-decoration: none;
}

#top-nav ul li a:visited {
  text-decoration: none;
}

#top-nav ul li a:hover, #top-nav ul li a:focus {
  color: black;
  text-decoration: none;
}

#top-nav .navbar-links {
  padding: 0px;
  overflow: hidden;
  @media (min-width: $hamburger-under-logo-breakpoint) {
    margin-top: 68px;
  }
  @media (min-width: $grid-float-breakpoint) {
    margin-top: 46px;
  }
}

#hamburger {
  margin-top: 120px;
  a {
    font-size: 1.5em;
    padding: 0px;
    color: black;
  }
  @media (min-width: $hamburger-under-logo-breakpoint) {
    margin-top: 48px;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

