#top-nav {
  padding-top: 20px;
  min-height: 180px;
  margin: 0px;
  background: transparent;
}

#top-nav a.navbar-brand {
  padding: 0px;
}

#top-logo {
  width: 320px;
  padding-left: 15px;
  @media (min-width: $grid-float-breakpoint) {
    padding-left: 35px;
  }
}

#top-nav ul {
  list-style: none;
  text-align: justify;
  padding-left: 14px;
  border-top: 1px solid black;
  margin-top: 68px;
  padding-top: 20px;
  padding-right: 40px;
  margin-bottom: -4px;
  @media (max-width: $grid-float-breakpoint) {
    margin-top: 0px;
  }
  @media (min-width: $navbar-border-breakpoint) {
    margin-top: 0px;
    padding-top: 0px;
    border: none;
  }
}

#top-nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#top-nav ul li {
  float: none;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
  @media (min-width: $grid-float-breakpoint) {
    display: inline-block;
  }
}

#top-nav .navbar-links {
  padding: 0px;
  @media (min-width: 430px) {
    margin-top: 68px;
  }
  @media (min-width: $grid-float-breakpoint) {
    margin-top: 48px;
  }
}

#hamburger {
  margin-top: 120px;
  a {
    font-size: 1.5em;
    padding: 0px;
    color: black;
  }
  @media (min-width: 430px) {
    margin-top: 48px;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

