.cma-block {
  width: 75%;
  margin: auto;
}

.label-container {
  display: inline-block;
  padding: 10px 20px 0px 10px;
  width: 100px;
}

.with-colon:after { content: ":"; }

.field-container {
  display: block;
  padding: 20px 10px 20px 10px;
  @media (min-width: 1380px) {
    display: inline-block;
    padding: 20px 10px 20px 30px;
    border-left: solid 1px;
  }
}

.postcode-box { width: 100px; }
.product-type { width: 100px; }

.cma-result {
  border: solid 1px grey;
  padding: 0px;
  margin: 20px;
  max-width: 600px;
}

.cma-result .title {
  width: 100%;
  padding: 10px;
  @extend .font-emphasis;
  font-weight: bold;
  color: white;
  background: $orange;
  text-align: left;
}

.cma-result .details {
  padding: 20px;
  text-align: left;
  width: 100%;

  .row {
    padding: 0px 15px 0px 15px;

    .total-cost {
      .amount {
        font-weight: bold;
        @extend .font-emphasis;
        color: green;
      }
    }

    .field {
      margin-bottom: 10px;
      @extend .font-primary;
      .value {
        font-weight: bold;
        @extend .font-emphasis, .font-size-small;
      }
    }
  }
}

.cma-result .calculation {
  padding: 0px 20px 10px 0px;
  text-align: right;
  @extend .font-size-small;
}

