.cma-block {
  width: 75%;
  margin: auto;
}

.label-container {
  display: inline-block;
  padding: 10px 20px 0px 10px;
  width: 100px;
}

.with-colon:after { content: ":"; }

.field-container {
  display: block;
  padding: 20px 10px 20px 10px;
  @media (min-width: $navbar-border-breakpoint) {
    display: inline-block;
    padding: 20px 10px 20px 30px;
    border-left: solid 1px;
  }
}

.postcode-box { width: 100px; }
.product-type { width: 100px; }
