@font-face {
  font-family: 'Gotham-Light';
  src: font-url('Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Light-Italic';
  src: font-url('Gotham-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: font-url('Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Medium-Italic';
  src: font-url('Gotham-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Book';
  src: font-url('Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Book-Italic';
  src: font-url('Gotham-BookItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: font-url('Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham-Bold-Italic';
  src: font-url('Gotham-BoldItalic.otf') format('opentype');
}

.font-primary  { font-family: 'Gotham Light', 'Gotham-Light', sans-serif; }
.font-emphasis { font-family: 'Gotham Medium', 'Gotham-Medium', sans-serif; }
.font-system   { font-family: 'Calibri', sans-serif; }

.font-size-normal {
  font-size: $font-size-base;
  font-size: 3.9vw;
  @media (min-width: 470px) { font-size: 2.6vw; }
  @media (min-width: 780px) { font-size: 1.9vw; }
  @media (min-width: 1080px) { font-size: 1.3vw; }
  @media (min-width: 1200px) { font-size: 1.15vw; }
}

.font-size-large  { font-size: 1.34em; }
.font-size-small  { font-size: 0.82em; }

.font-size-h1  { font-size: 2.00em; }
.font-size-h2  { font-size: 1.70em; }
.font-size-h3  { font-size: 1.50em; }
.font-size-h4  { font-size: 1.24em; }

.font-size-navbar { font-size: 1.08em; font-weight: 400; }
