@font-face {
    font-family: 'Gotham-Light';
    src: font-url('Gotham-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Light-Italic';
    src: font-url('Gotham-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: font-url('Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Medium-Italic';
    src: font-url('Gotham-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: font-url('Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Book-Italic';
    src: font-url('Gotham-BookItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: font-url('Gotham-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Bold-Italic';
    src: font-url('Gotham-BoldItalic.otf') format('opentype');
}

