#bottom-nav
  .container-fluid
    .row
      %center
        .narrower
          .col-sm-5.col-lg-3.col-lg-push-3
            .footer-links
              .links-header Business support
              %ul
                %li How to switch supplier
                %li How to read your energy invoice
                %li Understanding energy costs
                %li Moving premises
                %li Making a complaint
                %li Gas emergency
          .col-sm-5.col-sm-offset-2.col-lg-3.col-lg-offset-0.col-lg-push-3
            .footer-links
              .links-header FAQ &amp; Forms
              %ul
                %li Forms and guides to download
                %li Energy FAQs
                %li Electricity &amp; gas glossary
                %li Terms &amp; conditions
                %li Deemed rates
                %li &nbsp;
          .col-sm-5.col-lg-3.col-lg-pull-6
            .footer-links.products
              .links-header Products
              %ul
                %li Business Electricity Supply
                %li Business Gas Supply
                %li Additional commercial energy products
          .col-sm-5.col-sm-offset-2.col-lg-3.col-lg-offset-0
            .footer-links
              .links-header About
              %ul
                %li Our origins
                %li Brook Green Supply careers
                %li Contact us

#bottom-text
  .container-fluid.cover
    .row
      %center
        .full-until-sm-then-fixed-width
          .col-sm-3.col-sm-offset-1
            .centered-until-sm-then-left-align-text
              = image_tag asset_path('bgs-logo.png'), id: 'bottom-logo'
          .col-sm-7
            .copyright.centered-until-sm-then-left-align-text
              © 2016 Brook Green Supply - All Rights Reserved.
              %br/
              Company Number 09910619
              %br/
              80 Hammersmith Road, London W14 8UD, UK
              %br/
              = link_to '#' do
                Brook Green Supply site matters
              &nbsp;|&nbsp;
              = link_to '#' do
                Privacy
              &nbsp;|&nbsp;
              = link_to '#' do
                Contact

